---
Checks:          '*,-abseil-*,-fuchsia-*,-google-*,-llvm-*,-zircon-*,
                  -android-cloexec-fopen,
                  -cert-dcl21-cpp,
                  -clang-diagnostic-c++98-compat-pedantic,
                  -clang-diagnostic-unused-macros,
                  -cppcoreguidelines-avoid-magic-numbers,
                  -cppcoreguidelines-macro-usage,

                  # https://github.com/isocpp/CppCoreGuidelines/issues/1589,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -performance-unnecessary-value-param,

                  -hicpp-avoid-c-arrays,
                  -hicpp-member-init,
                  -hicpp-noexcept-move,
                  -hicpp-special-member-functions,
                  -hicpp-vararg,

                  -llvmlibc-callee-namespace,
                  -modernize-avoid-c-arrays,
                  -modernize-use-transparent-functors,
                  -readability-braces-around-statements,
                  -readability-else-after-return,
                  -readability-magic-numbers,
                  -readability-misleading-indentation,
                  -readability-named-parameter,
                  '
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
